getDailyBalanceReports.json
getTokens.json
getTreasuryFinancialMetrics.json
getTreasuryVariationMetricsDetail.json
getTreasuryFinancialPositions.json
getTreasuryHistoricVariation.json
getFinancialMetricAndVarDetail.json
getTotalFundsByTokenCategory.json
getTreasuryFinancialMetricsWaterfall.json
getWaterfall1Report.json
