html {
  scroll-behavior: smooth !important;
}

.scrollable {
  scroll-margin-top: 100px;
}

a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

g:focus, g:active {
  outline: none !important;
}

path:focus {
  outline: none !important;
}
