#  'use [openssl rand -hex 32] to generate a 32 bytes value'
AUTH0_SECRET='something'
AUTH0_BASE_URL='something'
AUTH0_ISSUER_BASE_URL='something'
AUTH0_CLIENT_ID='something'
AUTH0_CLIENT_SECRET='something'
REACT_GOOGLE_CLIENT_ID='something'
REACT_GOOGLE_CLIENT_EMAIL='something'
REACT_GOOGLE_PRIVATE_KEY='something'
REACT_GOOGLE_PROJECT_ID='something'
REACT_NETWORK_DEFAULT='something'
REACT_DAO_NAME_DEFAULT='something'
REACT_PERIOD_TYPE_DEFAULT='something'
